/* Give a little space around the body */
body {
  width: 90%;
  margin: 1rem auto 2rem;
  font-family: 'Montserrat', sans-serif;
  background-color: floralwhite;
}

/* Change size and color of heading */
h1 {
  font-size: 2rem;
  color: darkgoldenrod;
}

/* Add breaks between paragraphs, add some extra line spacing */
p {
  margin: 1rem 0;
  line-height: 1.3rem;
  max-width: 35rem;
}

/* Style for all input types */
input {
  padding: 2px;
  margin: 5px 10px 10px 0;
  box-sizing: border-box;
}

/* Make placeholder text lighter */
::placeholder {
  color: #dddddd;
}

/* Styles for text/number input types, so they're on their own line */
input[type=text] {
  display: block;
}

/* Give the label text a shorter line height */
label p {
  margin: 0;
  line-height: 1rem;
}

/* Get the first name and last name fields next to eachother */
.first {
  display: block;
  float: left;
}

/* Clear the float from first/last name boxes */
.last::after {
  clear: both;
}

input[type=email] {
  display: block;
}

input[type=tel] {
  display: block;
  margin-bottom: 20px;
}

/* Change the margins for radio buttons and checkboxes (more space on the left so they hug their labels to the right) */
input[type=radio] {
  margin: 5px 0;
}

input[type=checkbox] {
  margin: 5px 0;
}

/* Style select to look more flat, add margins */
select {
  display: block;
  height: 1.5rem;
  margin: 5px 10px 20px 0;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

/* Make a little space around fieldsets */
fieldset {
  margin: 10px 0;
}

/* Make each checkbox and radio button have its own line */
fieldset label {
  display: block;
  font-size: .9rem;
}

/* Add a little spacing above first and below last radio or checkbox */
fieldset label:first-of-type {
  margin-top: 5px;
}

fieldset label:last-of-type {
  margin-bottom: 10px;
}

/* Reduce some spacing around fieldset paragraphs */
fieldset p {
  line-height: 1.3rem;
  margin: 0;
}

/* Make the submit button bigger, squarer and flatter */
input[type=submit] {
  display: block;
  padding: .5rem 2rem .5rem 2rem;
  border: 1px solid #666666;
  background-color: darkgoldenrod;
  color: white;
  font-size: 1rem;
}

/* Add hover state to button */
input[type=submit]:hover {
  background-color: tan;
}

/* Add an active state to button */
input[type=submit]:active {
  background-color: white;
  color: darkgoldenrod;
}

/* Make footer copyright small and centered */
footer p {
  font-size: .8rem;
  display: block;
  margin: auto;
  text-align: center;
}