/* Give a little space around the body */
body {
  width: 90%;
  margin: 1rem auto 2rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  background-color: floralwhite;
}

/* Change size and color of heading */
h1 {
  font-size: 2rem;
  color: darkgoldenrod;
}

/* Add breaks between paragraphs, add some extra line spacing */
p {
  margin: 1rem 0;
  line-height: 1.3rem;
  font-weight: 400;
}

/* Style for all input types */
input {
  padding: 2px;
  margin: 5px 10px 10px 0;
  box-sizing: border-box;
}

/* Make placeholder text lighter */
::placeholder {
  color: #808080;
}

/* Styles for text/number input types, so they're on their own line */
input[type=text] {
  display: block;
}

label {
  display: block;
  font-weight: 600;
}

legend {
  font-weight: 600;
}

/* Get the first name and last name fields next to eachother */
.first {
  display: block;
  float: left;
}

/* Clear the float from first/last name boxes */
.email {
  clear: both;
}

input[type=email] {
  display: block;
}

input[type=tel] {
  display: block;
  margin-bottom: 20px;
}

/* Change the margins for radio buttons and checkboxes (more space on the left so they hug their labels to the right) */
input[type=radio] {
  margin: 5px 0;
}

input[type=checkbox] {
  margin: 5px 0;
}

/* Style select to look more flat, add margins */
select {
  display: block;
  height: 1.5rem;
  margin: 5px 10px 20px 0;
  border: 1px solid #cccccc;
  background-color: #ffffff;
}

/* Make a little space around fieldsets */
fieldset {
  margin: 10px 0;
}

/* Make each checkbox and radio button have its own line */
fieldset label {
  display: block;
  font-size: .9em;
}

/* Add a little spacing above first and below last radio or checkbox */
fieldset label:first-of-type {
  margin-top: 5px;
}

fieldset label:last-of-type {
  margin-bottom: 10px;
}

/* Reduce some spacing around fieldset paragraphs */
fieldset legend {
  line-height: 1.3rem;
  margin: 0;
}

fieldset label {
  font-weight: 400;
}

/* Make the submit button bigger, squarer and flatter */
input[type=submit] {
  display: block;
  padding: .5rem 2rem .5rem 2rem;
  border: 1px solid #666666;
  background-color: darkgoldenrod;
  color: white;
  font-size: 1em;
}

/* Add hover state to button */
input[type=submit]:hover {
  background-color: tan;
}

/* Add an active state to button */
input[type=submit]:active {
  background-color: white;
  color: darkgoldenrod;
}

/* Make footer copyright small and centered */
footer p {
  font-size: .8rem;
  display: block;
  margin: auto;
  text-align: center;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    
    h1 {
      font-size: 6rem;
      line-height: 7rem;
    }
    
    p {
      margin: 2.5rem 0;
      font-size: 2rem;
      line-height: 2.5rem;
    }

    label {
      font-size: 3rem;
      line-height: 4rem;
    }
    
    legend {
      font-size: 3em;
      line-height: 4em;
    }
    
    input {
      font-size: 2.5rem;
    }
        
    fieldset legend {
      line-height: 4rem;
    }

    fieldset label {
      font-size: 2.5rem;
      line-height: 3em;
    }

    input[type=text], [type=tel], [type=email] {
      width:100%;
      height: 5rem;
      font-size: 3rem;
    }
      
    .select-group select {
      font-size: 2rem;
      height: 5rem;
      width: 90%;
      padding: 1rem 4rem 1rem 1rem;
    }

    input[type=radio], [type=checkbox] {
      border: 1px solid #cccccc;
      width: 1.5em;
      height: 1.5em;
    }
    
    input[type=submit] {
      font-size: 4rem;
      width: 100%;
      padding: 2rem 4rem;
    }
}